.home {
  background: black;
  color: white;
  min-height: 100vh;
}

.hero {
  height: 80vh;
  background:
    linear-gradient(to top, black, transparent),
    url("/banner.jpg") center/cover no-repeat;
  padding: 120px 40px;
}

.hero h1 {
  font-size: 56px;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.play {
  background: #2563eb;
  border: none;
  padding: 12px 24px;
  color: white;
  font-weight: bold;
}

.info {
  background: rgba(255,255,255,0.1);
  border: 1px solid white;
  padding: 12px 24px;
  color: white;
}
